$df: 'Roboto', sans-serif, calibri;
$dc: #333;
$fs: 14px;
$w: #ffffff99;
$wl: #ffffff50;
$pcolor: #ff2c65;
$orange: #ff593b;
$red: #f44336;
$light: 300;
$reg: 400;
$bold: 500;

$color: (dblue: #333646, blue : #2e3a40, dgreen : #305232, green : #3b4e4c, red : #4c3a39, purple : #4c3550, pink : #5e3241);

